* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    background: lightgray;
}
.container {
    width: 700px;
    height: 100vh;
    background: #fff;
}
.container h2 {
    margin: 100px auto;
    text-align: center;
}

.container h2 > p {
    margin-top: 20px;
    font-size: 12px;
}