* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgray;
}

#container {
    background: #fff;
    width: 700px;
    height: 100vh;
}

#box {
    width: 400px;
    height: 80vh;
    margin: 100px auto;
}

.title {
    visibility: hidden;
    width: 100px;
    height: 50px;
}

.show {
    font-size: 20px;
    visibility: visible;
}

.colorChange {
    visibility: hidden;
}